<h2 class="page-header">
    <%= author.fullName %>
</h2>
<img width="150" height="150" src="<%= author.coverImagePath %>">
<div>
    Role: <%= author.role %>
</div>
<div>
    ID: <%= author.id %>
</div>
<div>
    Username: <%= author.username %>
</div>
<div>
    Password: <%= author.password %>
</div>
<div>
    Gender: <%= author.gender %>
</div>
<div>
    Email: <%= author.email %>
</div>
<div>
    Phone: <%= author.phone %>
</div>
<div>
    Street: <%= author.street %>
</div>
<div>
    City: <%= author.city %>
</div>
<div>
    Zipcode: <%= author.zipcode %>
</div>
<div>
    State: <%= author.state %>
</div>
<div>
    Country: <%= author.country %>
</div>

<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" href="/author/<%= author.id %>/edit">Edit</a>
</div>


<% if (booksByAuthor.length > 0) { %>
    <h2 class="page-header">Books By Author</h2>
    <%- include('../partials/bookGrid', { books: booksByAuthor }) %>
  <% } %>