<div class="form-row">
    <div class="form-item">
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= author.firstName %>">
    </div>
    <div class="form-item">
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= author.lastName %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Gender</label>
        <input type="text" name="gender" value="<%= author.gender %>">
    </div>
    <div class="form-item">
        <label>Email</label>
        <input type="text" name="email" value="<%= author.email %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Phone</label>
        <input type="number" name="phone" value="<%= author.phone %>">
    </div>
    <div class="form-item">
        <label>Street</label>
        <input type="text" name="street" value="<%= author.street %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>City</label>
        <input type="text" name="city" value="<%= author.city %>">
    </div>
    <div class="form-item">
        <label>Zipcode</label>
        <input type="number" name="zipcode" value="<%= author.zipcode %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>State</label>
        <input type="text" name="state" value="<%= author.state %>">
    </div>
    <div class="form-item">
        <label>Country</label>
        <input type="text" name="country" value="<%= author.country %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" name="cover" class="filepond">
    </div>
</div>